@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Qahiri&display=swap');


*{
   padding: 0%;
   margin: 0%;
   box-sizing: border-box;
}

html body {
   height: 100vh;
   width: 100%;
   font-family: 'Poppins','Playfair Display', serif;
   background-color: #2e2e2e;
   /* background-color: #0b0039; */
   scroll-behavior: smooth;
}

.flex {
   display: flex;
   justify-content: center;
}

:root {
   --primary-text-color : #ffffff;
   --secondary-text-color: #00ff30;
}


h1:hover {
   color: var(--primary-text-color);
}

p {
   color: var(--primary-text-color);
}

.wrapper {
    max-width: 1180px;
    margin-inline: auto;
} 

.a1:visited {
   color: var(--secondary-text-color);
}

.a:hover {
   color: var(--secondary-text-color);
}
/* desiged for page starts from here  */

.designedfor {
   height: 100vh;
   
}
.designedfor h1 {
   font-size: 10rem !important;
   text-align: center;
   color: var(--secondary-text-color);
   margin-top: 100px;
   transition: 0.6s;

}

.designedfor h1:hover {
   
   letter-spacing: 2px;


}

.designedfor h4 {
   font-size: 3rem !important;
   text-align: center;
   color: var(--primary-text-color);
   margin-top: 20px;
   transition: 0.6s;

}

.designedfor a {
   text-decoration: none;
   color: var(--primary-text-color);
   transition: 0.6s;
}

.designedfor a:hover {
  color: var(--secondary-text-color);
  letter-spacing: 2px;
   
}

.designedfor span {
   color: var(--primary-text-color)
}

.brandlogos img {
   height: 100px;
}

/* Actual website starts form here */


.nav-content img {
   width: 50px;
   height: 50px;
   margin-right: 20%;
}

/* .bismillah h1 {
   font-family: 'Qahiri', sans-serif;
   color: var(--secondary-text-color);
   text-align: center;
   margin-top: 15px;
   margin-bottom: 15px;
   transition: 0.6s;
} */

.nav-content{
   justify-content: center;
   height: 90px;
   align-items: center;
   color:var(--primary-text-color);

}



.nav-content a {
   margin-left: 50px;
   text-decoration: none;
   color: var(--primary-text-color);
   font-weight: 400;
   letter-spacing: 0.15ch;
   transition: 0.6s;
}

.navbar a:hover {
   /* color: var(--secondary-text-color); */
   font-weight: 600;
   letter-spacing: 5px;

}

.navbar a:visited {
   color: var(--secondary-text-color);
}



.navbar {  
   height: 90px;
   width: 100%;

}



.wrapper {
   
   max-width: 1180px;
   margin-inline: auto;
   justify-content: center;
}

.logosSection {
   display: flex;
   flex-direction: column;
   align-items: center;
}

.logosSection h2 {
   margin-top: 25px;
   font-size: 100px;
   color: #ffffff;
   font-weight: 800;
   text-align: center;
}

.logosSection h3 {
   margin-top: 25px;
   margin-bottom: 50px;
   font-size: 15px;
   letter-spacing: 2px;
   color: #ffffff;
   font-weight: 600;
   text-align: center;
}


.logoCollage {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 1100px;
   width: 1100px;
   /* background-color: aquamarine; */
}



.leftside {
   height: 100%;
   width: 60%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
}

.leftside img{
   height: 540px;
   width: 540px;
   object-fit: cover;
   border-radius: 10px;
}

.rightside  {
   height: 100%;
   width: 40%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-end;

}

.rightside img{
   border-radius: 10px;
   height: 350px;
   width: 350px;
   object-fit: cover;
}


.logosSection h6 {
   margin-top: 25px;
   font-size: 15px;
   color: #ffffff;
   font-weight: 400;
   text-align: justify;

}

/* inkwell logo starts from here */

hr {
   margin : 25px 250px;
}




.last{
   height: 100vh;
}